.signup{

    max-width:80vw;
    max-height:80vh;
    width:28%;
    height:80%;
    gap:30px;
    display:flex;
    flex-direction:column;
    /* margin-left:auto;
    margin-top:auto; */
    margin:auto;
    justify-content: center;
    text-align:center;
    color:white;
    background-color:rgb(0, 0, 0);
    padding:38px;
    margin-top:8%;
}
.label{

    margin-right:10px;
}
.form{


    display:flex;
    flex-direction: column;
    gap:10px;
    padding:10px;
}
.input{
    outline:none;
    border:1px solid rgb(231, 111, 111);
    font-size:18px;
    font-family: 'Times New Roman', Times, serif;
}
.button{
    margin-top:18px;
    padding:10px;
    background-color:lightblue;
    border:none;
    border-radius:8px;
    color:darkblue;
    font-weight:bold;
    font-size:18px;
    transition: all 0.3s ease;
}
.h1{
    color:green;
}
.button:hover{

    cursor:pointer;
    background-color:darkblue;
    color:lightblue;
}